# Ignore Python virtual environments
venv/
env/

# Ignore environment files
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore database files
*.db
*.sqlite3

# Ignore temporary files
*.tmp
*.bak
*.swp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Flask session files
flask_session/

# Ignore coverage reports
htmlcov/
.coverage